@import '../../../styles/variables.scss';

.todo-form {
  width: 100%;
  padding: $area-half $area-base-small;
  display: flex;
  align-items: center;
  border-radius: $base-radius;

  &__checkbox {
    flex-shrink: 0;
  }

  &--dark {
    background-color: $color-dt-blue-darkest-desaturated;
    box-shadow: $shadow-dt-dark;
  }

  &--light {
    background-color: $color-white;
    box-shadow: $shadow-lt-light;
  }
}
