@import '../../../styles/variables.scss';

.entry-field {
  width: 100%;
  height: 48px;

  &__input {
    width: inherit;
    height: inherit;
    border: none;
    outline: none;
    padding: 4px 16px;
    letter-spacing: -0.3px;
    line-height: 100%;
    color: inherit;
    background-color: transparent;

    &::placeholder {
      color: $color-dt-grayish-blue-dark;
    }
  }

  &--dark {
    color: $color-dt-grayish-blue-light;
  }

  &--light {
    color: $color-lt-grayish-blue-darkest;
  }

  @media (max-width: 640px) {
    font-size: 12px;
    height: 32px;

    &__input {
      padding: 4px 6px;
      letter-spacing: -0.2px;
    }
  }
}
