@import '../../../styles/variables.scss';

.entry-field {
  width: 100%;
  height: $area-treble;

  &__input {
    width: inherit;
    height: inherit;
    border: none;
    outline: none;
    padding: $area-bullet $area-base;
    letter-spacing: -0.3px;
    line-height: 100%;
    color: inherit;
    background-color: transparent;

    &::placeholder {
      color: $color-dt-grayish-blue-dark;
    }
  }

  &--dark {
    color: $color-dt-grayish-blue-light;
  }

  &--light {
    color: $color-lt-grayish-blue-darkest;
  }

  @media (max-width: 640px) {
    font-size: $fs-base-small;
    height: $area-double;

    &__input {
      padding: $area-bullet 6px;
      letter-spacing: -0.2px;
    }
  }
}
