@import '../../styles/variables.scss';

.root-container {
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  position: relative;
  font-size: $fs-base;
  font-family: $ff-Josefin-Sans;
  font-weight: $fw-regular;
  line-height: 110%;

  &--dark {
    background-color: $color-dt-blue-darkest;
  }

  &--light {
    background-color: $color-lt-gray-light;
  }

  @media (max-width: 640px) {
    font-size: $fs-base-small;
  }
}
