@import '../../styles/variables.scss';

.todos {
  &__container {
    max-width: 588px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__form {
    margin-bottom: $area-base-large;
  }

  @media (max-width: 640px) {
    &__form {
      margin-bottom: $area-base;
    }
  }
}
