@import '../../styles/variables.scss';

.todos {
  $this: &;

  &__container {
    max-width: 588px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__wripper {
    width: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    &:first-child {
      margin-bottom: 24px;
    }
  }

  &__footer {
    width: 100%;
    display: flex;
    align-items: flex-end;
    padding: 18px 24px 16.5px;
    font-size: 14px;
    line-height: 105%;
    letter-spacing: -0.2px;
  }

  &__counter {
    margin-right: auto;
  }

  &__clear-completed-button {
    color: inherit;
    letter-spacing: -0.2px;
    margin-left: 58px;
    line-height: 100%;
    transition: color 0.3s ease;
  }

  &--dark {
    #{$this}__wripper {
      background-color: $color-dt-blue-darkest-desaturated;
      box-shadow: 0px 30px 39px 3px rgba(0, 0, 0, 0.3);
    }

    #{$this}__footer {
      color: $color-dt-grayish-blue-dark;
    }

    #{$this}__clear-completed-button {
      &:hover {
        color: $color-dt-grayish-blue-lightest;
      }
    }
  }

  &--light {
    #{$this}__wripper {
      background-color: $color-white;
      box-shadow: 0px 43px 48px -11px rgba($color:
            $color-lt-grayish-blue-darkest, $alpha: 0.13);
    }

    #{$this}__footer {
      color: $color-lt-grayish-blue;
    }

    #{$this}__clear-completed-button {
      &:hover {
        color: $color-lt-grayish-blue-darkest;
      }
    }
  }
}
