@import '../../styles/variables.scss';

.todos {
  &__container {
    max-width: 588px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__form {
    margin-bottom: 24px;
  }

  @media (max-width: 640px) {
    &__form {
      margin-bottom: 16px;
    }
  }
}
