@import '../../../styles/variables.scss';

.todo-list {
  width: 100%;
  background-color: inherit;
  border-top-right-radius: $base-radius;
  border-top-left-radius: $base-radius;
  overflow: hidden;

  &--dark {
    background-color: $color-dt-blue-darkest-desaturated;
    box-shadow: $shadow-dt-dark;
  }

  &--light {
    background-color: $color-white;
    box-shadow: $shadow-lt-dark;
  }
}
