@import '../../../styles/variables.scss';

.header {
  width: 100%;
  padding: 78px 0 22px 0;
  color: white;
  height: 300px;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;

  &__container {
    max-width: 590px;
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    margin-left: 1px;
    font-size: 40px;
    letter-spacing: 14.8px;
    line-height: 100%;
    font-weight: $fw-bold;
  }

  &__button-toggle-theme {
    width: 26px;
    height: 26px;
    margin-top: 2px;
    padding-top: 1px;
    color: #fff;
    align-self: flex-start;
  }

  &--dark {
    background-image: url(../../../assets/images/bg-desktop-dark.jpg);
  }

  &--light {
    background-image: url(../../../assets/images/bg-desktop-light.jpg);
  }

  @media (max-width: 640px) {
    padding: 48px 0 22px 0;
    height: 200px;

    &__logo {
      font-size: 26px;
      letter-spacing: 10.8px;
    }

    &__button-toggle-theme {
      width: 20px;
      height: 20px;
      margin: 0;
      padding: 0;
    }

    &--dark {
      background-image: url(../../../assets/images/bg-mobile-dark.jpg);
    }

    &--light {
      background-image: url(../../../assets/images/bg-mobile-light.jpg);
    }
  }
}
