@import '../../../styles/variables.scss';

.check-box {
  width: 48px;
  height: 48px;
  // position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &__input {
    display: none;
  }

  &__checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    border: 1px solid;
    border-radius: 50%;
    cursor: pointer;
    // transition: all 0.3 ease;

    &:not(.check-box__checkbox--checked):hover {
      border-width: 0;
      padding: 1px;
      background: linear-gradient(
        120deg,
        $color-background-first,
        $color-background-second
      );
      -webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
    }

    &--checked {
      border-width: 0;
      background: linear-gradient(
        120deg,
        $color-background-first,
        $color-background-second
      );
    }
  }

  &__icon-check {
    width: 11px;
    height: 9px;
  }

  &--dark {
    .check-box__checkbox {
      border-color: $color-dt-grayish-blue-very-dark;
    }
  }

  &--light {
    .check-box__checkbox {
      border-color: $color-lt-grayish-blue-lightest;
    }
  }

  @media (max-width: 640px) {
    width: 32px;
    height: 32px;

    &__checkbox {
      height: 20px;
      width: 20px;
    }

    &__icon-check {
      width: 10px;
      height: 7.5px;
    }
  }
}
